/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box;
    font-family: "Audiowide", "Sofia", "Trirong", sans-serif; }
*, ::after, ::before { box-sizing: inherit; }

/*Barvy */
body {
    background-color: #dfba8ae7;
    font-size: 16px;
    line-height: 2;
    margin: 0;  
}

section {
    padding: 10px 50px;
    overflow: auto;
}

img {overflow: auto;}

p {text-align: justify;}

.h2-profilovka {float: right;}

h2 {font-size: 42px;}

a {
    text-decoration: none;
    color: #D2691E;
} 

#menu, #Paticka {
    padding:0;
    margin: 0;
}

.hlavicka {
    background-image: url(Obrazky/oba-zahlavi.jpg);
    margin: 0;
    padding: 60px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hlavicka h1 {
    margin: 0;
    line-height: 1.1;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 10px;
    color: #D2691E;
    -webkit-text-stroke-color: #382b22;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 5px 7px 5px black;
    }



.menuzk {
    background-color: #57290b54;
    text-align: center;
    font-size: 36px;
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 5px 7px 5px black;
    border-bottom: 2px solid darkgray;
    border-top: 2px solid darkgray;
    }

.menuzk li {
    display: inline-block;
    margin: 0 50px;
    font-weight: bold;
}

/*Odkazy - barvy a chování*/   

.menuzk a:hover,
.menuzk a:focus,
.menuzk a:active {
    background-color:#BDB76B;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    margin: 0;  
}

.menuzk a:visited {
    color: #D2691E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1px;
}

a:visited {
    color: #682e05ef;
}

/*------------*/
#Paticka {
    background-color: #57290b54;
    padding: 10px 50px 10px 10px;
    margin: 0;
    text-align: right;
    border-top: 2px solid darkgray;   
}

/*Obrázky ve fotogaleriích*/ 
.fotobox {
    width: 100%;
    text-align: center;
    overflow: auto;}

    .fotobox-tapka {
        width: 100%;
        text-align: center;
        overflow: auto;
        margin-top:  0;
    }
    
    #onas, #Hawkeye, #Bella, #Tapka {
    clear: right;
}
    

.img--cut {
    object-fit: cover;
    object-position: center;
    width: 32%;
    border-radius: 15%;
}
/*------------*/
#T-obtekani {
float: right;    
margin-left: 20px;
    object-position: center;
    width: 32%;
    border-radius: 15%;
}

/*Obrázky a Profilové obrázky*/
#Hawkeye img {
    float: left;
    height: 50px;
    border-radius: 50%;
    margin: 50px 20px 0 0;
}

#Tapka img {
    float: left;
    height: 50px;
    border-radius: 50%;
    margin: 50px 20px 0 0;
}    

#Bella img {
    float: left;
    height: 50px;
    border-radius: 50%;
    margin: 50px 20px 0 0;
    
} 
.H-profilovka {
    float: right;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    }

.lokalita-profilovka {
    float: left;
    height: 50px;
    border-radius: 50%;
    margin: 50px 20px 0 0;
    
}
.Kontakt img {
    vertical-align: middle;
    overflow: auto;}
